{{ define "toc-item" }}
<li>
  <a href="#{{ printf "%s" .ID}}">{{ printf "%s" .Title | raw }}</a>
  {{ with .Items }}
  <ul class="menu-list">
    {{ range . }}
    {{ template "toc-item" . }}
    {{ end }}
  </ul>
  {{ end }}
</li>
{{ end }}

{{ with .tree.Items }}
<style>
 .table-of-contents{
     position: sticky;
     top: 8em;

     #table-of-contents-list{
         position: absolute;
         top: 0;
         left: 100%;
         padding-left: 1em;
         white-space: nowrap;

         ul{
             list-style: none;
             margin: 0;
             li a {
                 max-width: 20em;
                 overflow: hidden;
                 text-overflow: ellipsis;
             }
         }
     }
 }
</style>

<script>
 document.addEventListener("DOMContentLoaded", () => {
     const links = document.querySelectorAll("#table-of-contents-list a");
     const headings = document.querySelectorAll("h1");

     const updateActiveLink = () => {
         let activeLink = null;
         let activeRect = null;
         let lastOut = null;

         headings.forEach((heading, index) => {
             const rect = heading.getBoundingClientRect();
             let inViewPort = rect.top >= 0 && rect.top < window.innerHeight;
             let beforeActive = activeRect == null || rect.top < activeRect.top;
             if (inViewPort && beforeActive) {
                 activeLink = links[index];
                 activeRect = rect;
             }

             let beforeViewPort = rect.top < 0;
             if(beforeViewPort){
                 lastOut = links[index];
             }
         });

         links.forEach((link) => link.classList.remove("is-active"));
         if (activeLink) {
             activeLink.classList.add("is-active");
         }else if(lastOut) {
             lastOut.classList.add("is-active");
         }
     };

     window.addEventListener("scroll", updateActiveLink);
     updateActiveLink();
 });
</script>


<aside class="menu is-hidden-touch table-of-contents">
  <div id="table-of-contents-list">
    <p class="menu-label">TABLE OF CONTENTS</p>
    <ul class="menu-list">
      {{ range . }}
      {{ template "toc-item" . }}
      {{ end }}
    </ul>
  </div>
</aside>
{{ end }}
