{{ template "header" . }}
<style>
.calendar{
    td,th {
        width: calc(100%/7);
    }
    td{
        height: 8em;
        overflow: hidden;
        padding: 0 !important;
        margin: 0 !important;
    }
    a .page{
        font-size: 0.7em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }
 }
</style>

{{range .calendar}}
<h1>{{.Year}}</h1>
{{range .Months}}
<h2>{{.Name}}</h2>
<table class="calendar table is-bordered is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody>
    {{range .Days}}
    <tr>
      {{range .}}
      <td>
        {{if .}}

        {{ if .Pages }}
        <a href="/+/date/{{printf "%d-%d-%d" .Date.Day .Date.Month .Date.Year}}">
          <span class="tag">{{.Date.Day}}</span>
        </a>
        {{else}}
        <span class="tag">{{.Date.Day}}</span>
        {{end}}

        {{ if .Pages }}
        <aside class="menu" dir="auto">
          <div class="menu-list" dir="auto">

            {{range .Pages}}
            <a href="/{{.Name}}" dir="auto">
              <span class="page">
                {{ emoji . }}
                {{ $props := properties . }}
                {{ with $props.title }} {{ .Value }} {{ else }} {{ .Name }} {{ end }}
              </span>
            </a>
            {{end}}

          </div>
        </aside>
        {{end}}

        {{end}}
      </td>
      {{end}}
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}
{{else}}
<div class="notification is-info">
  There are no posts that contains dates yet...
</div>
{{end}}

{{ template "footer" . }}
