<div>
  <a href="{{.url}}">
    <img src="{{.image}}" loading="lazy" class="mr-3 is-pulled-left" style="display: block; border-radius: 0.5em; object-fit: cover; object-position: 0 50%; max-height: 10em; width: 10em;"/>

    <strong style="display:block;overflow: hidden;
                   text-overflow: ellipsis;
                   display: -webkit-box;
                   -webkit-line-clamp: 1; /* number of lines to show */
                   line-clamp: 1;
                   -webkit-box-orient: vertical;">
        {{.title}}
    </strong>
  </a>
  {{.description}}

  <div class="is-clearfix"></div>
</div>
