<div class="card my-5">
  <header class="card-header">
    <p class="card-header-title">
      <strong><a href="{{.url}}">{{.title}}</a></strong>
    </p>
  </header>

  {{ if and .image .description }}
  <div class="card-content">

    <div class="media">

      <div class="media-left">
        <figure class="image is-128x128"><img src="{{.image}}"></figure>
      </div>

      <div class="media-content">{{.description}}</div>
    </div>

  </div>
  {{ end }}

  <div class="card-footer">
    <a class="card-footer-item" href="{{.url}}">{{.url}}</a>
  </div>
</div>
