{{ template "header" . }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<div class="columns">
  <div class="column">
		<form method="POST" action="/{{ .action }}" class="form">
      {{ .csrf }}
			<div class="field">
				<textarea name="content" autofocus>{{ .content }}</textarea>
			</div>
      <button type="submit"
              class="button is-link"
              accesskey="s"
              style="position: fixed; right:1em; bottom:1em;z-index: 10;">
        Save
      </button>
		</form>
  </div>
</div>


<script> new SimpleMDE({autofocus: true, spellChecker: false, toolbar: false, status: false});</script>
{{ template "footer" . }}
