<html class="has-navbar-fixed-top">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link rel="stylesheet" href="/assets/style.css">
    <title>{{.title}} | XLog</title>
  </head>
  <body>
    <nav class="navbar is-light is-fixed-top" role="navigation">
      <div class="navbar-brand">
        <a class="navbar-item title has-text-weight-bold" href="/"> XLog </a>
      </div>

      <div class="navbar-start">
        {{ navbarStart }}
      </div>

      {{ if .edit }}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="{{.edit}}" class="button"> Edit </a>
          </div>
        </div>
      </div>
      {{ end }}
    </nav>
