<html class="has-navbar-fixed-top">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="icon" href="/assets/icon.svg">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/fontawesome/style.css">
    <title>{{.title}} | XLog</title>
    {{ if autoload }}
    <script>
     var token = "";
     setInterval(async function() {
         var r = await fetch("/autoreload/token");
         var t = await r.text();

         if ( token == "" ) {
             token = t;
         } else if (token != t) {
             document.location.reload();
         }
     }, 1000)
    </script>
    {{ end }}
  </head>
  <body>
    <nav class="navbar is-fixed-top" role="navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/assets/logo.svg"/>
        </a>
      </div>

      <div class="navbar-start">
        {{ navbarStart }}
      </div>

      {{ if .edit }}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="{{.edit}}" class="button">
              <span class="icon"><i class="fa-solid fa-pen"></i></span>
              <span>Edit</span>
            </a>
          </div>
        </div>
      </div>
      {{ end }}
    </nav>
