<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="icon" href="/assets/logo-square.png">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/fontawesome/style.css">
    <link rel="stylesheet" href="/assets/custom.css">
    <title>{{.title}} | {{.SITENAME}}</title>
  </head>
  <body>

    {{ if not .READONLY }}
    {{ template "tools" . }}
    {{ end }}

    <div class="columns">
      {{ if .SIDEBAR }}
      {{ template "sidebar" . }}
      {{ end }}
      <div class="column">

        <p class="p-3">
          <a href="/" class="title is-4 has-text-weight-bold">
            <span class="icon"><img src="/assets/logo.png"/></span>
            <span>{{.SITENAME}}</span>
          </a>
        </p>

        <div class="container content is-max-desktop" dir="auto" style="margin-bottom: 20em;">
