{{ with .sidebar }}
<style>
 .sidebar {
     height: 100vh;
     overflow: auto;
     position: fixed;
     border-right: 1px solid #ddd;
 }
</style>
<div class="column is-2"></div>
<div class="column is-2 is-hidden-mobile sidebar">
  <ul class="menu-list">
    <li>
      <a href="/" class="title is-4 has-text-weight-bold">
        <span class="icon is-medium"><img src="/assets/logo.png"/></span>
        <span>XLOG</span>
      </a>
    </li>
  </ul>
  <div class="pl-3"> {{.}} </div>
</div>
{{ end }}
