{{ if .tools }}
<dialog id="tools-modal" style="border: none;" class="mt-0">
  <div class="modal-content">
    <div class="box">
      <div class="field">
        <div class="control">
          <input class="input" type="search" placeholder="Search..." onkeyup="filterToolsList(this.value)" autofocus/>
        </div>
      </div>
      <aside class="menu p-1" style="max-height: 30em; overflow-y: auto;"> {{ .tools }} </aside>
    </div>
  </div>

  <form method="dialog">
    <button class="modal-close is-large" aria-label="close"></button>
  </form>
</dialog>

<script type="application/javascript">
 const tools = document.getElementById('tools-modal');

 tools.querySelectorAll('a').forEach(ele => {
     ele.addEventListener('mouseup', evt => tools.close());
     ele.addEventListener('keyup', evt => {
         if( evt.key == 'Enter' ) tools.close();
     });
 });

 document.addEventListener('keydown', function(e) {
     const kCharCode = "K".charCodeAt();

     if (e.keyCode === 27) { // Escape key
         tools.close();
         return;
     }

     if ( e.keyCode === kCharCode && ( e.metaKey || e.ctrlKey ) ) {
         e.preventDefault();
         tools.showModal();
     }
 });

 function filterToolsList(v) {
     const keyword = v.toLowerCase();
     const lis = document.querySelectorAll("#tools-modal li");

     for(var i=0; i < lis.length; i++){
         const li = lis[i];
         if( li.textContent.toLowerCase().includes(keyword) ) {
             li.classList.remove("is-hidden");
         } else {
             li.classList.add("is-hidden");
         }
     }
 }
</script>

{{ end }}
