<html class="has-navbar-fixed-top">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.css">
    <title>{{.title}} | XLog</title>
  </head>
  <body>

    <nav class="navbar is-fixed-top is-white" role="navigation">
      <div class="navbar-end">
        <div class="navbar-item">
          <input type="text" class="input is-rounded" accesskey="n" placeholder="New log..." onkeypress="if(event.keyCode == 13){ document.location.pathname = this.value }" autocomplete="off"/>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a href="{{.edit}}" class="button is-light"> Edit </a>
          </div>
        </div>
      </div>
    </nav>

	  <div class="container is-fluid" dir="auto">
      <div class="columns">

        {{ if .referencedIn }}
        <div class="column is-one-fifth">
          <aside class="menu">
            <p class="menu-label"> Referenced in </p>
            <ul class="menu-list is-capitalized">
              {{ range .referencedIn }}
              <li><a href="/{{.}}">{{.}}</a></li>
              {{ end }}
            </ul>
          </aside>
        </div>
        {{ end }}

        <div class="column content">
          <h1 class="title is-1 has-text-weight-bold is-capitalized">{{.title}}</h1>

          {{.content}}
        </div>

        {{ if .references }}
        <div class="column is-one-fifth">
          <aside class="menu">
            <p class="menu-label"> References </p>
            <ul class="menu-list is-capitalized">
              {{ range .references }}
              <li><a href="/{{.}}">{{.}}</a></li>
              {{ end }}
            </ul>
          </aside>
        </div>
        {{ end }}

      </div>
	  </div>
  </body>
</html>
