{{ template "header" . }}

<div class="container is-fluid mt-5">
  <div class="columns">
    {{ if .sidebar }}
    <div class="column is-2"> {{ .sidebar }} </div>
    {{ end }}

    <div class="column">
      <div class="container is-max-desktop" style="margin-bottom: 20em;">
        <div class="content pb-6" dir="auto">

          {{ range $tag, $pages := .tags }}
          <details class="menu">
            <summary class="menu-label is-capitalized is-clickable">
              <span class="icon"><i class="fa-solid fa-hashtag"></i></span>
              <span>{{$tag}}</span>
              <a href="/+/tag/{{$tag}}"><span class="tag is-pulled-right">{{ len $pages }}</span></a>
            </summary>
            <ul class="menu-list">
              {{ range $pages }}
              <li class="is-capitalized"><a href="/{{.}}">{{ . }}</a></li>
              {{ end }}
            </ul>
          </details>
          {{ end }}

        </div>
      </div>
    </div>
  </div>
</div>


{{ template "footer" . }}
