{{ if .tags }}
<aside class="menu" style="user-select: none;">
  <p class="menu-label">TAGS</p>

  {{ range $tag, $pages := .tags }}
  <details class="menu">
    <summary class="menu-label is-capitalized is-clickable">
      {{$tag}}  <a href="/+/tag/{{$tag}}"><span class="tag is-pulled-right">{{ len $pages }}</span></a>
    </summary>
    <ul class="menu-list">
      {{ range $pages }}
      <li class="is-capitalized"><a href="/{{.}}">{{ . }}</a></li>
      {{ end }}
    </ul>
  </details>
  {{ end }}
</aside>
<hr/>
{{ end }}
