{{ template "header" . }}
<section class="section has-text-centered">
  <form method="POST" class="form" action="{{ .action }}" enctype="multipart/form-data">
    {{ .csrf }}
    <div class="field">
      <div class="control">
        <input type="file" name="file" id="file" onchange="this.form.submit()">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-link">Upload</button>
      </div>
    </div>
  </form>
</section>

<script>
 document.getElementById("file").click();
</script>
{{ template "footer" . }}
