{{ template "header" . }}
<div class="field has-addons">
  <div class="control is-expanded">
    <input type="text"
           id="newPage"
           name="q"
           hx-get="/+/search-result"
           hx-trigger="keyup delay:0.2s"
           hx-target="#searchResults"
           class="input"
           placeholder="New/Search..."
           onkeyup="if(event.keyCode == 13){ document.location.pathname = this.value }"
           autocomplete="off"
           autofocus
    />
  </div>
  <div class="control">
    <a class="button" onclick="document.location.pathname = document.getElementById('newPage').value">
      <span class="icon"><i class="fa-solid fa-plus"></i></span>
    </a>
  </div>
</div>

<aside class="menu">
  <div class="menu-list" id="searchResults"></div>
</aside>

{{ template "footer" . }}
