<script>
 async function renamePage(event) {
     event.preventDefault();
     const newName = prompt('Page new name:', "{{.page}}");
     if(newName == null || newName.length == 0) {
         return
     }

     var data = new FormData()
     data.append('csrf', document.querySelector('input[name=csrf]').value);
     data.append('old', "{{.page}}");
     data.append('new', newName);

     var params = {method: 'POST', body: data};

     await fetch("{{.action}}", params);
     document.location = "/" + newName;
 }
</script>
