{{ template "header" . }}

<form method="POST" action="/{{ .page.Name }}" class="form" id="editor">
  {{ .csrf }}
	<textarea id="content" name="content" class="is-hidden">{{ .content }}</textarea>
  <div class="editor-controls">
    <button type="submit" class="button is-link">
      <span class="icon"><i class="fa-solid fa-floppy-disk"></i></span>
      <span>Save</span>
    </button>
  </div>
</form>

<script type="importmap">
 {
     "imports": {
         "@codemirror/view": "https://unpkg.com/@codemirror/view@6.4.0/dist/index.js",
         "@codemirror/state": "https://unpkg.com/@codemirror/state?module",
         "@codemirror/language": "https://unpkg.com/@codemirror/language@6.3.0/dist/index.js",
         "@codemirror/lang-html": "https://unpkg.com/@codemirror/lang-html@6.1.3/dist/index.js",
         "@codemirror/lang-css": "https://unpkg.com/@codemirror/lang-css@6.0.1/dist/index.js",
         "@codemirror/lang-javascript": "https://unpkg.com/@codemirror/lang-javascript@6.1.1/dist/index.js",
         "@codemirror/autocomplete": "https://unpkg.com/@codemirror/autocomplete@6.3.0/dist/index.js",
         "@codemirror/lang-markdown":  "https://unpkg.com/@codemirror/lang-markdown@6.0.4/dist/index.js",
         "@codemirror/commands": "https://unpkg.com/@codemirror/commands@6.1.2/dist/index.js",
         "@codemirror/autocomplete": "https://unpkg.com/@codemirror/autocomplete@6.3.0/dist/index.js",
         "@codemirror/search": "https://unpkg.com/@codemirror/search@6.2.2/dist/index.js",
         "@codemirror/language-data": "https://unpkg.com/@codemirror/language-data@6.1.0/dist/index.js",
         "@lezer/markdown": "https://unpkg.com/@lezer/markdown@1.0.2/dist/index.js",
         "@lezer/common": "https://unpkg.com/@lezer/common@1.0.1/dist/index.js",
         "@lezer/highlight": "https://unpkg.com/@lezer/highlight@1.1.2/dist/index.js",
         "@lezer/html": "https://unpkg.com/@lezer/html@1.0.1/dist/index.es.js",
         "@lezer/lr": "https://unpkg.com/@lezer/lr@1.2.3/dist/index.js",
         "@lezer/css": "https://unpkg.com/@lezer/css@1.0.1/dist/index.es.js",
         "@lezer/javascript": "https://unpkg.com/@lezer/javascript@1.0.2/dist/index.es.js",
         "crelt": "https://unpkg.com/crelt@1.0.5/index.es.js",
         "style-mod": "https://unpkg.com/style-mod?module",
         "w3c-keyname": "https://unpkg.com/w3c-keyname?module"
     }
 }
</script>
<script type="module">
 import {EditorState} from "@codemirror/state"
 import {
     markdown,
     markdownLanguage,
     markdownKeymap
 } from "@codemirror/lang-markdown"
 import {
     EditorView,
     keymap,
     highlightSpecialChars,
     drawSelection,
     dropCursor,
     rectangularSelection,
     crosshairCursor
 } from "@codemirror/view"
 import {
     defaultHighlightStyle,
     syntaxHighlighting,
     indentOnInput,
     bracketMatching,
     foldGutter,
     foldKeymap
 } from "@codemirror/language"
 import {
     defaultKeymap,
     history,
     historyKeymap,
     indentWithTab
 } from "@codemirror/commands"
 import {
     searchKeymap,
     highlightSelectionMatches
 } from "@codemirror/search"
 import {
     CompletionContext,
     autocompletion,
     completionKeymap,
     closeBrackets,
     closeBracketsKeymap
 } from "@codemirror/autocomplete"
 import {languages} from "@codemirror/language-data"


 const textarea = document.getElementById("content")
 const form = document.getElementById("editor")
 const theme = EditorView.theme({
     ".cm-line": {
         fontFamily: 'BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif',
     },
 })

 function Completions(context) {
     let word = context.matchBefore(/[^\s]+/)
     if ( word === null ) return null
     if ( word.from == word.to && !context.explicit) return null

     {{ range .autocomplete }}
     if ( word.text.startsWith('{{.StartChar}}') ) {
         return {
             from: word.from,
             options: [
                 {{range .Suggestions }} {apply: '{{.Text}}', label: '{{.DisplayText}}'}, {{end}}
             ]
         }
     }
     {{ end }}
 }

 const startState = EditorState.create({
     doc: textarea.value,
     extensions: [
         markdown({
             base: markdownLanguage,
             addKeymap: true,
             codeLanguages: languages,
         }),
         markdownLanguage.data.of({
             autocomplete: Completions
         }),
         theme,
         EditorState.allowMultipleSelections.of(true),
         EditorView.lineWrapping,
         EditorView.perLineTextDirection.of(true),
         highlightSpecialChars(),
         history(),
         drawSelection(),
         dropCursor(),
         indentOnInput(),
         syntaxHighlighting(defaultHighlightStyle, {fallback: true}),
         bracketMatching(),
         closeBrackets(),
         autocompletion(),
         rectangularSelection(),
         crosshairCursor(),
         highlightSelectionMatches(),
         keymap.of([
             ...markdownKeymap,
             ...closeBracketsKeymap,
             ...defaultKeymap,
             ...searchKeymap,
             ...historyKeymap,
             ...completionKeymap,
             indentWithTab
         ])
     ],
 })

 const view = new EditorView({
     state: startState,
     parent: form,
 })

 view.focus()

 const syncEditor = () => { textarea.value = view.state.sliceDoc() };

 form.addEventListener("submit", syncEditor)

 document.addEventListener('keydown', function(event) {
     const e = event || window.event

     if ( e.key === 's' && (e.ctrlKey || e.metaKey ) ) {
         e.preventDefault()
         syncEditor()
         form.submit()
     }
 })

 window.EditorView = view
</script>
{{ template "footer" . }}
