{{ template "header" . }}

<form method="POST" action="/{{ .page.Name }}" class="form" id="editor">
  {{ .csrf }}
	<textarea id="content" name="content">{{ .content }}</textarea>
  <div class="editor-controls">
    <button type="submit" class="button is-link">
      <span class="icon"><i class="fa-solid fa-floppy-disk"></i></span>
      <span>Save</span>
    </button>
  </div>
</form>

<script type="importmap">
{
  "imports": {
      "@codemirror/view@6.4.0": "https://unpkg.com/@codemirror/view@6.4.0/dist/index.js",
      "@codemirror/view": "https://unpkg.com/@codemirror/view@6.4.0/dist/index.js",
      "@codemirror/state": "https://unpkg.com/@codemirror/state?module",
      "@codemirror/language": "https://unpkg.com/@codemirror/language@6.3.0/dist/index.js",
      "@codemirror/lang-html": "https://unpkg.com/@codemirror/lang-html@6.1.3/dist/index.js",
      "@codemirror/lang-css": "https://unpkg.com/@codemirror/lang-css@6.0.1/dist/index.js",
      "@codemirror/lang-javascript": "https://unpkg.com/@codemirror/lang-javascript@6.1.1/dist/index.js",
      "@codemirror/autocomplete": "https://unpkg.com/@codemirror/autocomplete@6.3.0/dist/index.js",
      "@codemirror/lang-markdown":  "https://unpkg.com/@codemirror/lang-markdown@6.0.4/dist/index.js",
      "@codemirror/lint": "https://unpkg.com/@codemirror/lint@6.0.0/dist/index.js",
      "@codemirror/commands": "https://unpkg.com/@codemirror/commands@6.1.2/dist/index.js",
      "@codemirror/autocomplete": "https://unpkg.com/@codemirror/autocomplete@6.3.0/dist/index.js",
      "@codemirror/search": "https://unpkg.com/@codemirror/search@6.2.2/dist/index.js",
      "@lezer/markdown": "https://unpkg.com/@lezer/markdown@1.0.2/dist/index.js",
      "@lezer/common": "https://unpkg.com/@lezer/common@1.0.1/dist/index.js",
      "@lezer/highlight": "https://unpkg.com/@lezer/highlight@1.1.2/dist/index.js",
      "@lezer/html": "https://unpkg.com/@lezer/html@1.0.1/dist/index.es.js",
      "@lezer/lr": "https://unpkg.com/@lezer/lr@1.2.3/dist/index.js",
      "@lezer/css": "https://unpkg.com/@lezer/css@1.0.1/dist/index.es.js",
      "@lezer/javascript": "https://unpkg.com/@lezer/javascript@1.0.2/dist/index.es.js",
      "crelt": "https://unpkg.com/crelt@1.0.5/index.es.js",
      "style-mod": "https://unpkg.com/style-mod?module",
      "w3c-keyname": "https://unpkg.com/w3c-keyname?module"
  }
 }
</script>
<script src="/public/index.js" type="module"></script>
<script type="application/javascript">
 /* CodeMirror.defineOption('autoSuggest', [], function (cm, value, old) {
  *     cm.on('inputRead', function (cm, change) {
  *         autoSuggest(cm, value, change);
  *     });
  * }); */

 function autoSuggest(cm, value, change) {
     var mode = cm.getModeAt(cm.getCursor());

     for (var i = 0, len = value.length; i < len; i++) {
         if (mode.name === value[i].mode && change.text[0] === value[i].startChar) {
             cm.showHint({
                 completeSingle: false,
                 hint: (function(iterator){
                     return function (cm, options) {
                         var cur = cm.getCursor(),
                             token = cm.getTokenAt(cur);
                         var start = token.start,
                             end = token.end;
                         for(
                             start = token.end;
                             start>0 && cm.getTokenAt({line: cur.line, ch: start}).string != value[iterator].startChar;
                             start--
                         ){}

                         var filter = editor
                             .getDoc()
                             .getRange({line: cur.line, ch: start}, {line: cur.line, ch: end})
                             .toLowerCase();
                         var allList = value[iterator].listCallback();
                         var filtered = allList.filter(e => e.text.toLowerCase().includes(filter));

                         return {
                             list: filtered,
                             from: CodeMirror.Pos(cur.line, start-1),
                             to: CodeMirror.Pos(cur.line, end)
                         };
                     }
                 })(i)
             });
         }
     }
 }

 var form = document.getElementById("editor");
 var content = document.getElementById("content");
 /* var editor = CodeMirror.fromTextArea(content, {
  *     mode: "gfm",
  *     autofocus: true,
  *     spellcheck: true,
  *     lineWrapping: true,
  *     viewportMargin: Infinity,
  *     autoSuggest: [

  *         {{ range .autocomplete }}
  *         {
  *             mode: 'markdown',
  *             startChar: '{{.StartChar}}',
  *             listCallback: function() {
  *                 return [
  *                     {{range .Suggestions }}
  *                     {
  *                         text: '{{.Text}} ',
  *                         displayText: '{{.DisplayText}}'
  *                     },
  *                     {{end}}
  *                 ]
  *             }
  *         },
  *         {{ end }}

  *     ]
  * }); */

 /* document.addEventListener('keydown', function(event) {
  *     const e = event || window.event;
  *     toggleRTL(e.key);

  *     if ( e.key === 's' && (e.ctrlKey || e.metaKey ) ) {
  *         e.preventDefault();
  *         document.getElementById("editor").submit();
  *     }
  * }); */

 function toggleRTL(char) {
     if(char == "Backspace") return;

     const punc = /[\s.,\/#!$%\^&\*;:{}=\-_`~()]/;
     if(punc.test(char)) return;

     const arabic = /[\u0600-\u06FF]/;
     if(arabic.test(char)){
         editor.setDirection('rtl');
     }else{
         editor.setDirection('ltr');
     }
 }
</script>
{{ template "footer" . }}
