{{ template "header" . }}

<form method="POST" action="/{{ .page.Name }}" class="form" id="editor">
  {{ .csrf }}
	<textarea id="content" name="content" class="is-hidden">{{ .content }}</textarea>
  <div class="editor-controls">
    <button type="submit" class="button">
      <span class="icon"><i class="fa-solid fa-floppy-disk"></i></span>
      <span>Save</span>
    </button>
  </div>
</form>

<script type="importmap">
 {
     "imports": {
         "@codemirror/view": "/public/js/@codemirror/view.js",
         "@codemirror/state": "/public/js/@codemirror/state.js",
         "@codemirror/language": "/public/js/@codemirror/language.js",
         "@codemirror/lang-html": "/public/js/@codemirror/lang-html.js",
         "@codemirror/lang-css": "/public/js/@codemirror/lang-css.js",
         "@codemirror/lang-javascript": "/public/js/@codemirror/lang-javascript.js",
         "@codemirror/autocomplete": "/public/js/@codemirror/autocomplete.js",
         "@codemirror/lang-markdown":  "/public/js/@codemirror/lang-markdown.js",
         "@codemirror/commands": "/public/js/@codemirror/commands.js",
         "@codemirror/autocomplete": "/public/js/@codemirror/autocomplete.js",
         "@codemirror/search": "/public/js/@codemirror/search.js",
         "@codemirror/language-data": "/public/js/@codemirror/language-data.js",
         "@lezer/markdown": "/public/js/@lezer/markdown.js",
         "@lezer/common": "/public/js/@lezer/common.js",
         "@lezer/highlight": "/public/js/@lezer/highlight.js",
         "@lezer/html": "/public/js/@lezer/html.js",
         "@lezer/lr": "/public/js/@lezer/lr.js",
         "@lezer/css": "/public/js/@lezer/css.js",
         "@lezer/javascript": "/public/js/@lezer/javascript.js",
         "crelt": "/public/js/crelt.js",
         "style-mod": "/public/js/style-mod.js",
         "w3c-keyname": "/public/js/w3c-keyname.js"
     }
 }
</script>
<script type="module">
 import {EditorState} from "@codemirror/state"
 import {
     markdown,
     markdownLanguage,
     markdownKeymap
 } from "@codemirror/lang-markdown"
 import {
     EditorView,
     keymap,
     highlightSpecialChars,
     drawSelection,
     dropCursor,
     rectangularSelection,
     crosshairCursor
 } from "@codemirror/view"
 import {
     defaultHighlightStyle,
     syntaxHighlighting,
     indentOnInput,
     bracketMatching,
     foldGutter,
     foldKeymap
 } from "@codemirror/language"
 import {
     defaultKeymap,
     history,
     historyKeymap,
     indentWithTab
 } from "@codemirror/commands"
 import {
     searchKeymap,
     highlightSelectionMatches
 } from "@codemirror/search"
 import {
     CompletionContext,
     autocompletion,
     completionKeymap,
     closeBrackets,
     closeBracketsKeymap
 } from "@codemirror/autocomplete"
 import {languages} from "@codemirror/language-data"


 const textarea = document.getElementById("content")
 const form = document.getElementById("editor")
 const theme = EditorView.theme({
     ".cm-line": {
         fontFamily: '"Dubai W23", "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif',
     },
     "&.cm-editor.cm-focused": {
         outline: "none"
     },
     ".cm-cursor": {
         border: "1px solid #aaa",
     },
 })

 function Completions(context) {
     let word = context.matchBefore(/[^\s]+/)
     if ( word === null ) return null
     if ( word.from == word.to && !context.explicit) return null

     {{ range .autocomplete }}
     if ( word.text.startsWith('{{.StartChar}}') ) {
         return {
             from: word.from,
             options: [
                 {{range .Suggestions }} {apply: '{{.Text}}', label: '{{.DisplayText}}'}, {{end}}
             ]
         }
     }
     {{ end }}
 }

 function getCursor(doc) {
     try {
         const cursor = localStorage.getItem("{{.title}}");
         if(cursor === null){
             return 0
         }

         return Math.min(doc.length, parseInt(cursor));
     } catch(e) {
         return 0
     }
 }

 function saveCursor(view) {
     try {
         localStorage.setItem("{{.title}}", view.state.selection.main.head);
     } catch(e) {
         console.log("Can't store cursor to storage", e);
     }
 }

 const startState = EditorState.create({
     doc: textarea.value,
     selection: {
         anchor: getCursor(textarea.value),
     },
     extensions: [
         markdown({
             base: markdownLanguage,
             addKeymap: true,
             codeLanguages: languages,
         }),
         markdownLanguage.data.of({
             autocomplete: Completions
         }),
         theme,
         EditorState.allowMultipleSelections.of(true),
         EditorView.lineWrapping,
         EditorView.perLineTextDirection.of(true),
         highlightSpecialChars(),
         history(),
         drawSelection(),
         dropCursor(),
         indentOnInput(),
         syntaxHighlighting(defaultHighlightStyle, {fallback: true}),
         bracketMatching(),
         closeBrackets(),
         autocompletion(),
         rectangularSelection(),
         crosshairCursor(),
         highlightSelectionMatches(),
         keymap.of([
             ...markdownKeymap,
             ...closeBracketsKeymap,
             ...defaultKeymap,
             ...searchKeymap,
             ...historyKeymap,
             ...completionKeymap,
             indentWithTab
         ])
     ],
 })

 const view = new EditorView({
     state: startState,
     parent: form,
 })

 view.focus()

 const syncEditor = function() {
     textarea.value = view.state.sliceDoc()
     saveCursor(view)
 }

 form.addEventListener("submit", syncEditor)

     document.addEventListener('keydown', function(event) {
     const e = event || window.event

     if ( e.key === 's' && (e.ctrlKey || e.metaKey ) ) {
         e.preventDefault()
         syncEditor()
         form.submit()
     }
 })

 window.EditorView = view
</script>
{{ template "footer" . }}
