<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="icon" href="/public/logo.png">
    <link rel="stylesheet" href="/public/style.css">
    <title>{{.title}} | {{.SITENAME}}</title>
    {{ .head }}
  </head>
  <body>

    {{ if not .READONLY }}{{ template "commands" . }}{{ end }}

    <div class="columns">

      {{ if .SIDEBAR }} {{ template "sidebar" . }} {{ end }}

      <div class="column">
        <div class="container content is-max-desktop px-3" dir="auto" style="margin-bottom: 20em;">
          <p class="py-5">
            <a href="/" class="title is-4 has-text-weight-bold icon-text">
              <span class="icon"><img src="/public/logo.png"/></span>
              <span>{{.SITENAME}}</span>
              <span class="icon"><i class="fas fa-arrow-right"></i></span>
              <span>{{ .title }}</span>
            </a>
          </p>
