{{- define "header" -}}
<!DOCTYPE html>
<html lang="en" {{with .csrf}}hx-headers='{"X-CSRF-Token":"{{.}}"}'{{end}}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="icon" href="/public/logo.png">
    <link rel="stylesheet" href="/public/style.css">
    <title>
      {{ $props := properties .page }}
      {{- with .page -}}
        {{- if ne .Name $.config.Index -}}
        {{ .Emoji }}
        {{ with $props.title }} {{ .Value }} {{ else }} {{ .Name }} {{ end }}
        |
      {{ end -}}
      {{- end -}}
      {{.config.Sitename}}
    </title>
    {{- with .page }} {{ widgets "head" . }} {{ end }}
  </head>
  <body>
    {{- template "commands" . -}}

    <div class="container is-max-desktop px-3" dir="auto">
      {{- template "navbar" . -}}

      {{- if ne .config.Index .page.Name -}}
      <div dir="auto" class="title is-1 has-text-weight-bold" style="view-transition-name: page-title;">
        {{- with .page -}}
        {{- .Emoji }}
        {{ with $props.title }} {{ .Value }} {{ else }} {{ .Name }} {{ end }}
        {{- end -}}
      </div>
      {{- end -}}

      <div class="content pb-5">
      {{- end -}}
      {{ define "footer" }}
      </div>
    </div>

    {{ scripts }}
  </body>
</html>
{{- end -}}
