{{- define "header" -}}
<!DOCTYPE html>
<html lang="en" {{with .csrf}}hx-headers='{"X-CSRF-Token":"{{.}}"}'{{end}}>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="icon" href="/public/logo.png">
    <link rel="stylesheet" href="/public/style.css">
    <title>
      {{- if .page -}}
        {{- .page.Emoji -}} {{- .page.Name -}}
      {{- else -}}
        {{- .title -}}
      {{- end -}}
      | {{.config.Sitename}}
    </title>
    {{- if .page }} {{ widgets "head" .page }} {{ end }}
  </head>
  <body>
    {{- template "commands" . -}}

    <div class="container is-max-desktop px-3" dir="auto">
      {{- template "navbar" . -}}
      {{ template "title" . }}
      <div class="content pb-5">
      {{- end -}}
      {{ define "footer" }}
      </div>
    </div>

    {{ scripts }}
  </body>
</html>
{{- end -}}
