<nav class="navbar mb-5 pt-5" role="navigation" aria-label="main navigation">
  <div class="container is-max-desktop px-3" dir="auto">
  <div class="navbar-brand">
    <a class="icon-text navbar-item" href="/">
      <span class="icon is-large"><img alt="logo" src="/public/logo.png"/></span>
      <span class="has-text-weight-bold">{{.config.Sitename}}</span>
    </a>

    <a role="button"
       class="navbar-burger"
       aria-label="menu"
       aria-expanded="false"
       onclick="this.classList.toggle('is-active');document.getElementById('navbarMenu').classList.toggle('is-active')">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      {{- range $i, $a := links .page -}}
      <a {{ range $k, $v := .Attrs }}{{$k}}="{{$v}}" {{end}} class="navbar-item icon-text">
        {{ with .Icon }}
        <span class="icon">
          {{ if isFontAwesome . }}<i class="{{.}}"></i> {{ else }} {{.}} {{ end }}
        </span>
        {{ end }}
        <span>{{.Name}}</span>
      </a>
      {{- end }}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">

        {{- with .page -}}
        {{- widgets "search" . -}}
        {{- end -}}

      </div>
    </div>
  </div>
  </div>
</nav>
