<aside class="menu" dir="auto">
  <div class="menu-list" dir="auto">
    {{- range . -}}

    <a href="/{{.Name}}" dir="auto" class="is-clearfix">

      {{ with banner . }}
      <img src="{{.}}" loading="lazy" class="mr-3 is-pulled-left" style="display: block; border-radius: 0.5em; object-fit: cover; object-position: 0 50%; max-height: 3em; width: 6em;"/>
      {{ end }}

      <span class="is-block">
        {{ emoji . }}
        {{ $props := properties . }}
        {{ with $props.title }}
          {{ .Value }}
        {{ else }}
          {{ base .Name }}
        {{ end }}
      </span>
      <time class="has-text-grey is-size-7" dir="auto">{{ ago .ModTime }}</time>
    </a>

    {{- end -}}
  </div>
</aside>
