{{ template "header" . }}

{{- $props := properties .page -}}

{{- with $props -}}
<div class="modal" id="properties-dialog">
  <div class="modal-background"></div>
  <div class="modal-card">

    <header class="modal-card-head">
      <div class="modal-card-title">Page Properties</div>
      <button class="delete" aria-label="close" onclick="document.getElementById('properties-dialog').classList.remove('is-active')"></button>
    </header>

    <section class="modal-card-body">
      <table class="table is-hoverable is-striped is-fullwidth">
        {{ range . }}
        <tr>
          <th class="is-capitalized">
            <span class="icon"><i class="{{.Icon}}"></i></span>
            {{.Name}}
          </th>
          <td>{{.Value}}</td>
        </tr>
        {{end}}
      </table>
    </section>
  </div>
</div>
{{- end -}}

<div class="columns content is-mobile">

  <div class="column">
    {{ if not .page.ModTime.IsZero }}
    <span class="icon-text">
      <span class="icon"> <i class="fa-solid fa-clock"></i> </span>
      <span>Edited: {{ago .page.ModTime}}</span>
    </span>
    {{ end }}
  </div>

  <div class="column is-narrow">
    <div class="buttons">

      {{- with $props -}}
      <a class="button is-small" href="#" onclick="document.getElementById('properties-dialog').classList.add('is-active')" title="Page properties">
        <span class="icon">
          <i class="fa-solid fa-info"></i>
        </span>
      </a>
      {{- end -}}

      {{- with quick_commands .page -}}
      <div class="dropdown is-right is-hoverable">
        <div class="dropdown-trigger">
          <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="icon">
              <i class="fa-solid fa-ellipsis"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">

            {{- range . -}}
            <a {{ range $k, $v := .Attrs }}{{$k}}="{{$v}}" {{end}} class="dropdown-item">
              <span class="icon"><i class="{{.Icon}}"></i></span>
              <span>{{.Name}}</span>
            </a>
            {{- end -}}

          </div>
        </div>
      </div>
      {{- end -}}

    </div>
  </div>

</div>

<div class="view" style="view-transition-name: page-content;" >
  {{- with .page -}}
    {{- widgets "before_view" . -}}
    {{- .Render -}}
    {{- widgets "after_view" . -}}
  {{- end -}}
</div>

<script>
 document.querySelectorAll('.view table').forEach(t => {
     t.classList.add('table', 'is-bordered', 'is-striped', 'is-hoverable', 'is-fullwidth')
 })
</script>


{{ template "footer" . }}
