{{ $sidebar := "" }}
{{ $links := "" }}

{{ if .page }}
{{ $sidebar = widgets "sidebar" .page }}
{{ $links = links .page }}
{{ end }}

{{ if or $sidebar $links }}
<div class="column is-2 is-hidden-mobile">
  <div class="sidebar">
    {{$sidebar}}

    {{ with $links }}
    <ul class="menu-list">
      {{ range . }}
      <li>
        <a href="{{.Link}}" class="icon-text">
          <span class="icon">
            {{ $icon := .Icon }}
            {{ if isFontAwesome $icon }} <i class="{{.Icon}}"></i> {{ else }} {{ $icon }} {{ end }}
          </span>
          <span>{{.Name}}</span>
        </a>
      </li>
      {{ end }}
    </ul>
    {{ end }}

  </div>
</div>
{{ end }}
