<div class="columns pt-5">
  <div class="column">

    <nav class="breadcrumb has-arrow-separator pt-2 title is-5" aria-label="breadcrumbs">
      <ul>
        <li>
          <a class="icon-text has-text-grey-darker" href="/">
            <span class="icon"><img src="/public/logo.png"/></span>
            <span>{{.SITENAME}}</span>
          </a>
        </li>
        <li class="is-active">
          <a href="/" class="icon-text" aria-current="page">
            {{ .title }}
          </a>
        </li>
      </ul>
    </nav>

  </div>

  {{ if .page }}
  {{ with widgets "search" .page }}
  <div class="column is-4"> {{ . }} </div>
  {{ end }}
  {{ end }}
</div>
