{{ template "header" . }}

<div class="columns is-size-7 has-text-grey">
  <div class="column"> {{ template "properties" . }} </div>

  {{ $quick_commands := quick_commands .page }}
  {{ if $quick_commands }}
  <div class="column is-narrow">

    {{ if not .READONLY }} {{.csrf}} {{ end }}

    {{ range $quick_commands }}
    <a href="{{.Link}}" onclick="{{.OnClick}}" class="icon-text">
      <span class="icon"><i class="{{.Icon}}"></i></span>
      <span>{{.Name}}</span>
    </a>
    {{.Widget}}
    {{ end }}
  </div>

  {{ end }}

</div>

<div class="view">
  {{ widgets "before_view" .page }}
  {{.content}}
  {{ widgets "after_view" .page }}
</div>

<script>
 {{ if not .READONLY }}
 document.addEventListener('keydown', e => {
     if ( e.key === 's' && ( e.metaKey || e.ctrlKey ) ) {
         e.preventDefault();
         document.location.pathname = "{{.edit}}";
     }
 });
 {{ end }}

 // This is a hack to display right to left text correctly
 document.querySelectorAll('.content *')
         .forEach( ele => ele.setAttribute("dir", "auto") );
</script>

{{ template "footer" . }}
