{{ template "header" . }}

<div class="columns is-size-7 has-text-grey">
  <div class="column"> {{ template "properties" . }} </div>
  {{ if .quick_commands }}
  <div class="column is-narrow"> {{ template "quick_commands" . }} </div>
  {{ end }}
</div>

<div class="view"> {{.content}} {{ .afterView }} </div>

<script>
 {{ if not .READONLY }}
 document.addEventListener('keydown', e => {
     if ( e.key === 's' && ( e.metaKey || e.ctrlKey ) ) {
         e.preventDefault();
         document.location.pathname = "{{.edit}}";
     }
 });
 {{ end }}

 // This is a hack to display right to left text correctly
 document.querySelectorAll('.content *')
         .forEach( ele => ele.setAttribute("dir", "auto") );
</script>

{{ template "footer" . }}
