@import "foundation/functions";
@import "foundation_and_overrides.scss";

#container{
  background: #fff;
  margin: 40px auto 20px;
  border-radius: 7px;
  border: 1px solid #eee;
  line-height: 1.6em;

  hr{
    border-top: 1px solid #eee;
    height: 0px;
    width: 100%;
  }

  code {
    display: block;
    margin: 10px 0px;
    font-size: 13px;
    color: #eee;
    background: #39382e;
    padding: 10px;
    border-radius: 2px;
    line-height: 1.3em;
    vertical-align: baseline;
    zoom: 1;
  }

  h1, h2, h3, h4, h5, h6, p{
    padding-right: 60px;
    padding-left: 60px;
  }

  p, blockquote, ul, ol, li {
    font-size: 14px;
    line-height: 1.6em;
  }

  h1, h2, h3, h4, h5, h6{
    font-weight: bold;
  }

  .title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 60px;
    a{
      color: inherit;
    }
  }

  time{
    color: #d0d0d0;
    text-transform: uppercase;
    font-size: rem-calc(10);
    margin-top: 17.430px;
  }

  .post.single{
    time{
      display: block;
      text-align: center;
    }
  }

  ul, ol{
    list-style-position: inside;
    margin: 17.430px 60px;
    padding: 0px;
    li{
      padding: 0px;
      margin: 10px;

      p{
        margin: 0px;
        padding: 0px;
      }
    }
  }

  form, .shared_links{
    margin: 30px 60px;
    a{
      font-size: 14px;
    }

    input[type="submit"] { @include button; }
  }

}

.layout_footer{
  text-align: center;
  color: #808080;
  font-size: rem-calc(12);
  margin: 10px 0px 60px 0px;
  a{
    color: inherit;
    &:hover{
      color: #444;
    }
  }
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.alert-box{
  margin: 10px 0px;
}
