<div id="recordingBanner" onclick="StopAllRecording()" class="button is-size-4 is-hidden" style="position: fixed; bottom: 1em; left: 1em;z-index: 100;">
  <span class="icon has-text-danger"><i class="fa-solid fa-circle-stop"></i></span>
  <span> Recording... </span>
</div>

<script>
 (() => {
     var banner = document.getElementById('recordingBanner');
     banner.remove();
     document.body.appendChild(banner);

     document.body.addEventListener('dragover', ev => ev.preventDefault());

     document.body.addEventListener('drop', ev => {
         ev.preventDefault();
         ev.dataTransfer.dropEffect = "copy";
         var items = ev.dataTransfer.items;
         if( items < 1 ) return;

         var item = items[0];
         if(item.kind !== 'file') return;

         var file = item.getAsFile();
         uploadFile(file);
     });

     window.upload = (event) => {
         event.preventDefault();
         var input = document.createElement('input');
         input.type = 'file';
         input.onchange = e => uploadFile(e.target.files[0]);
         input.click();
     }

     window.screenshot = async (event) => {
         event.preventDefault();
         var stream = await navigator.mediaDevices.getDisplayMedia({video: true, audio: false});

         stream.getTracks().forEach(async function(track) {
             var ic = new ImageCapture(track);
             var bmp = await ic.grabFrame();
             track.stop();

             const canvas = document.createElement('canvas');
             canvas.width = bmp.width;
             canvas.height = bmp.height;
             const ctx = canvas.getContext('bitmaprenderer');
             ctx.transferFromImageBitmap(bmp);

             canvas.toBlob( recording => {
                 var file = new File([recording], 'screenshot.png', {type: 'image/png'});
                 uploadFile(file);
             }, "image/png");
         });
     }

     window.record = async (event) => {
         event.preventDefault();
         var stream = await navigator.mediaDevices.getDisplayMedia({
             video: {cursor: "always"},
             audio: true
         });

         start(stream, "video/webm; codecs=vp9", "webm");
     }

     var recordCameraStream;
     window.recordCamera = async (event) => {
         event.preventDefault();
         if (recordCameraStream!=null) return
         recordCameraStream = await navigator.mediaDevices.getUserMedia({video: true, audio: true});
         start(recordCameraStream, "video/webm; codecs=vp9", "webm");
         document.getElementById('recordingBanner').classList.remove('is-hidden');
     }

     var recordAudioStream;
     window.recordAudio = async (event) => {
         event.preventDefault();
         if (recordAudioStream!=null) return
         recordAudioStream = await navigator.mediaDevices.getUserMedia({audio: true});
         start(recordAudioStream, 'audio/webm; codecs=opus', "opus");
         document.getElementById('recordingBanner').classList.remove('is-hidden');
     }

     function start(stream, mimetype, extension) {
         var options = { mimeType: mimetype};
         var recorder = new MediaRecorder(stream, options);
         recorder.ondataavailable = (event) => {
             if (event.data.size > 0)
                 download(event.data, mimetype, extension);
         }
         recorder.start();
     }

     function stop(stream) {
         try {
             stream.getTracks().forEach((track) => track.stop());
         } catch(e) {
             // Don't care about errors here
         }
     }

     window.StopAllRecording = () => {
         document.getElementById('recordingBanner').classList.add('is-hidden');
         stop(recordAudioStream);
         recordAudioStream = null;
         stop(recordCameraStream);
         recordCameraStream = null;
     }


     function download(recording, mimetype, extension) {
         uploadFile(new File([recording], 'recording.'+extension, {type: mimetype}));
     }

     function uploadFile(file) {
         var data = new FormData()
         var editMode = (typeof EditorView !== 'undefined');
         var action = editMode ? '{{ .editModeAction }}' : '{{ .action }}';

         data.append('file', file)
         data.append('csrf', document.querySelector('input[name=csrf]').value);

         var params = {method: 'POST', body: data};

         fetch(action, params).then(resp => resp.text()).then(text => {
             if ( editMode ) {
                 const state = EditorView.viewState.state;
                 const range = state.selection.ranges[0];

                 EditorView.dispatch({
                     changes: {
                         from: range.from,
                         to: range.to,
                         insert: text
                     },
                     selection: {anchor: range.from + text.length}
                 })
             } else {
                 document.location.reload();
             }
         });
     }
 })()
</script>
