<% if notice %>
	<div class="alert-box success radius"><%= notice %> <a href="" class="close">×</a></div>
<% end %>

<% if alert %>
	<div class="alert-box alert radius"><%= alert %> <a href="" class="close">×</a></div>
<% end %>